body{
   
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
#text-primary{
    color:#FD6E0A
}
.btn-primary{
   color: white;
   padding:5px 10px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    background-color: #FD6E0A;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height:normal ;

}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747
}
/* header */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 20px 20px 30px 100px;
    display: flex;
    align-items: center;
}
.profile-pic{
    height: 500px;
    width: 400px;
}